.payment-method-data {
  margin-bottom: 20px;
}

#date-container {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  #date-container > input {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #date-container {
    flex-direction: column;
  }
}
