.form-wrapper {
  display: flex;
  justify-content: center;
}

.form {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
}

.form-group {
  margin: 20px 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

h2 {
  text-align: center;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-wrapper > .green-btn {
  width: auto;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .form {
    width: 80%;
  }
}
