.form-wrapper {
  display: flex;
  justify-content: center;
}

.form {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
}

.form-group {
  margin: 20px 40px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

h2 {
  text-align: center;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-wrapper > .green-btn {
  width: auto;
  padding: 10px 20px;
}

.form-group input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.form-group .file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px dashed #ccc;
  padding: 20px;
  transition: border-color 0.3s ease-in-out;
}

.form-group .file-upload:hover {
  border-color: #aaa;
}

.form-group .file-upload .fa {
  font-size: 48px;
  color: #ccc;
  margin-bottom: 20px;
}

.form-group .file-upload .text {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input-group > input {
  border-radius: 0 5px 5px 0;
}

.input-group-prepend {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.form-group .input-group-append .input-group-text:not(:first-child) {
  border-left: 0;
}

@media screen and (max-width: 768px) {
  .form {
    width: 80%;
  }
}
