html {
  height: 100%;
}

body {
  font-family: "Montserrat";
  min-height: 100%;
}

input {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
  width: -moz-available; /* Firefox */
  width: -webkit-fill-available; /* Chrome */
}

input:focus {
  outline: none;
  border: 1px solid #ff6666ff;
  box-shadow: 0 0 2px #ff6666ff;
  background-color: #fff;
}

button {
  background-color: #fb4d3d;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 80px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #fb4d3d;
}

button:hover {
  background-color: #fff;
  color: #fb4d3d;
}

/* NOTIFICATIONS */
.notification-container {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
  z-index: 9999;
}

.notification-container.show {
  transform: translateY(0);
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
  padding: 10px;
  border-bottom: 3px solid #fb4d3d;
}

.logo img {
  cursor: pointer;
  height: auto;
  max-width: 200px;
  margin-right: 20px;
}

.search-bar {
  flex: 1;
  margin-right: 20px;
  border-radius: 5px;
}

.search-bar > input {
  width: max-content;
  margin-right: 20px;
  box-shadow: 0 1px 1px gray;
}

.hamburger-menu {
  font-size: 32px;
  cursor: pointer;
  color: #ff6666;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: -30%;
  width: 15%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.4);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  z-index: 1;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #ff6666;
}

.nav-menu.active {
  right: 0;
}

.green-btn {
  background-color: #4caf50;
  width: 100%;
  border: 1px solid #4caf50;
  margin-bottom: 10px;
}

.green-btn:hover {
  color: #42ce47;
}

.container {
  box-shadow: 0 1px 1px gray;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .logo {
    margin: auto;
    margin-bottom: 10px;
  }

  .search-bar {
    margin-right: auto;
  }

  input,
  .search-bar > input {
    width: -moz-available;
    width: -webkit-fill-available;
  }

  .hamburger-menu {
    margin-left: auto;
  }

  .nav-menu {
    right: -50%;
    width: 50%;
  }
}
