body {
  font-family: "Montserrat";
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
  padding: 10px;
  border-bottom: 3px solid #ff6666;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.search-bar {
  flex: 1;
  margin-right: 20px;
  border-radius: 5px;
}

.search-bar-input {
  border-radius: 5px;
  border: 3px solid #ff6666;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.search-bar-input:focus {
  outline: none;
  box-shadow: 0 0 5px #999;
  background-color: #fff;
}

.hamburger-menu {
  font-size: 32px;
  cursor: pointer;
  color: #ff6666;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #ff6666;
}

.nav-menu.active {
  right: 0;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .logo {
    margin: auto;
    margin-bottom: 10px;
  }

  .search-bar {
    margin-right: auto;
  }

  .search-bar-input {
    width: -moz-available;
    width: -webkit-fill-available;
  }

  .hamburger-menu {
    margin-left: auto;
  }

  .nav-menu {
    right: -50%;
    width: 50%;
  }
}
