.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  object-fit: contain;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 13px;
}

.product-card div > h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-card div > span {
  font-size: 16px;
  font-weight: bold;
}
