html,
body {
  height: 100%;
}

.product-table {
  align-items: center;
  border-spacing: 20px;
  box-shadow: 0 1px 2px #69696969;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.product-table-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.remove-product-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 4px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #ff6666;
}

.remove-product-button:hover {
  background-color: #fff;
  color: #ff6666;
}
